:root {
    --main-color: rgb(11, 11, 48);
    --main-color-dark: rgb(5, 5, 20);
    --picture-width: clamp(350px, 45%, 600px);
    --main-color-light: rgb(34, 34, 73);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    color: white;
    display: flex;
}

#picture-container {
    width: var(--picture-width);
    flex-shrink: 0;
    flex-grow: 0;
}

img {
    height: 97vh;
    width: 100%;
    position: relative;
}

#picture-container div {
    background-color: black;  
    position: absolute;
    top: 30vh;
    width: inherit;
    text-align: center;
    padding: 15px 0;
    font-size: 2rem;
    opacity: 0.85;
}

.img-credit {
    position: absolute;
    width: inherit;
    top: 97vh;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: lightblue;
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.description {
    padding: 26px 30px;
    text-align: left;
    font-size: 1.2rem;
    width: 80%;
    margin-top: 125px;
}

.sign-up-info {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: flex-start;
    width: 600px;
}

.sign-up-info h2 {
    width: 100%;
    margin-bottom: 20px;
}

.sign-up-info div {
    flex: 1;
}

.sign-up-info input {
    font-size: 1.2rem;
}

.sign-up-info label {
    font-size: 1.1rem;
    display: block;
}

.dark-blue {
    background-color: var(--main-color-light);
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(83, 184, 218);
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 35%;
    max-width: 300px;
}

button:hover {
    background-color: rgba(83, 184, 218, 0.582);
    cursor: pointer;
}

form p {
    margin-left: 30px;
}